<div class = "row">
    <div class = "column">
        <div class="card text-white bg-secondary mb-3" style="max-width: 10rem; max-height:95%">

            <div class="card-header" ><a (click) = "showRings()"> Shop Rings </a></div>
            <div class="card-body">
                <p align="center"><a (click) = "showRings()"><img width="60px" height = "50px" src="./assets/images/ring.png" /></a></p>
            </div>
        
            <div class="card-header"><a (click) = "showBraceletes()"> Shop Bracelets </a></div>
            <div class="card-body">
                <p align="center"><a (click) = "showBraceletes()"><img (click) = "showRings()" width="80px" height = "70px"  src="./assets/images/bracelet.png" /></a></p>  
            </div>
        
            <div class="card-header"><a (click) = "showWatches()"> Shop Watches </a></div>
            <div class="card-body">
                <p align="center"><a (click) = "showWatches()"><img width="60px" height = "70px"  src="./assets/images/watches.png" /></a></p> 
            </div>

            <div class="card-header"><a (click) = "showNecklace()"> Shop Necklace </a></div>
            <div class="card-body">
                <p align="center"><a (click) = "showNecklace()"><img (click) = "showRings()" width="80px" height = "70px"  src="./assets/images/necklace.png" /></a></p>  
            </div>
        </div>
    </div>
</div>
